<%= div_for(question) do %>
  <div class="quiz-area">
    <h2>Question #</h2>
      <ol>
        <li><label for="">Option<input type="radio"></label></li>
        <li><label for="">Option<input type="radio"></label></li>
        <li><label for="">Answer<input type="radio"></label></li>
        <li><label for="">Option<input type="radio"></label></li>
      </ol>
      <!-- start question pagination -->
      <button>Next</button>
      <button>Previous</button>
      <button>Submit</button>
      <button>Restart</button>
      <!-- end question pagination -->

  </div>
<% end %>
