<div class="quiz-area">
  <div class="question">

    <h1 class="question-head">Question </h1>
    <h2 class="question-content"><%= question.content %></h2>

    <ul class="choices">
      <% question.answers.each do | choice | %>
        <li><%= radio_button_tag 'choice', choice.id %>
          <%= choice.content %>
        </li>
      <% end %>
    </ul>

  </div>
</div>
