<div class="question-area">
  <div class="question" data-target="quiz.question">

    <h1 class="question-head">Question <span data-target="quiz.output">#</span></h1>
    <h2 class="question-content"><%= question.content %></h2>

    <ul class="choices">
      <% question.answers.each do | choice | %>
        <li><%= radio_button_tag "choice", choice.id %>
          <%= choice.content %>
        </li>
      <% end %>
    </ul>

  <div class="controls" id="controls">
    <button data-action="quiz#previous">← Previous</button>
    <button data-action="quiz#next">Next →</button>
  </div>

  </div>

</div>
