<section class="split-layout">
  <div class="split-layout-secondary">
    <div class="flex column">

      <div class="white wrap">
        <div class="svg image">
          <%= inline_svg("bike.svg") %>
        </div>
          <h2 class="capitalized dark-text post-title">Voluptas inventore</h2>
      </div>

      <div class="raised white wrap offset-left">
        <div class="svg image">
          <%= inline_svg("truck.svg") %>
        </div>
          <h2 class="capitalized dark-text post-title">Lorem ipsum dolor</h2>
      </div>

      <div class="white wrap offset-up">
        <div class="svg image">
          <%= inline_svg("car.svg") %>
        </div>
        <h2 class="capitalized dark-text post-title">Dolor sit amet</h2>
      </div>

    </div>
  </div>

<div class="split-layout-primary">

    <div class="wrap">
      <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum, itaque maiores sit, reiciendis ratione minima aliquid dignissimos, ducimus veritatis odit impedit? Quaerat, omnis provident deleniti impedit, aut dicta. Voluptatibus.</p>
    </div>

    <div class="wrap">
      <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum, itaque maiores sit, reiciendis ratione minima aliquid dignissimos, ducimus veritatis odit impedit? Quaerat, omnis provident deleniti impedit, aut dicta. Voluptatibus.</p>
    </div>

    <div class="wrap">
      <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum, itaque maiores sit, reiciendis ratione minima aliquid dignissimos, ducimus veritatis odit impedit? Quaerat, omnis provident deleniti impedit, aut dicta. Voluptatibus.</p>
    </div>
</div>

</section>