<section class="split-layout">
  <div class="split-layout-secondary">
    <div class="flex column">

      <div class="white wrap">
        <div class="svg image">
          <%= inline_svg("bike.svg") %>
        </div>
      <h2 class="capitalized dark-text post-title">main</h2>
        <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio voluptas inventore laudantium</p>
      </div>

      <div class="white wrap">
        <div class="svg image">
          <%= inline_svg("truck.svg") %>
        </div>
      <h2 class="capitalized dark-text post-title">main</h2>
        <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus earum, itaque maiores sit, reiciendis ratione minima aliquid dignissimos, ducimus veritatis odit impedit? Quaerat, omnis provident deleniti impedit, aut dicta. Voluptatibus.</p>
      </div>

      <div class="white wrap">
        <div class="svg image">
          <%= inline_svg("car.svg") %>
        </div>
      <h2 class="capitalized dark-text post-title">main</h2>
        <p class="following">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Molestiae, dolor ipsum voluptas atque</p>
      </div>
    </div>
  </div>
  <div class="split-layout-primary">
    text
  </div>
</section>