<div class="grid-item card">
  <div class="card-image">
    <%= image_tag("img/#{quiz.kind}.jpeg") %>
  </div>
    <div class="card-content">

    <div class="card-header">
      <h2><%= link_to truncate(quiz.title, :length => 65), quiz %></h2>
    </div>
    
    <div class="card-copy">
     <p class="item-description"><%= quiz.info.truncate(165).html_safe %></p>
    </div>
      
      <div class="cta">
        <%= link_to quiz_path(quiz), class: 'full dark button' do %>Practice Quiz<% end %>  
      </div>

    </div>
</div>