<% breadcrumb :quizzes, @quizzes %>

<div class="quiz-content">
    <div class="inner-section">
      <div class="post-content">
        <br>
          <div class="main grid cards">
            <%= render :partial => @quizzes %>
          </div>
        <br>
    </div>
  </div>
</div>