<% breadcrumb :quiz, @quiz %>

<section class="section">
    <div class="main container">
      <div class="page content gapped">

        <div class="post-header">
          <div class="heading">
            <h1><%= @quiz.title %> Test</h1>
          </div>
        </div>

          <% if @questions.any? %>

            <div class="timer-area">
              <div class="progressbar" data-controller="progressbar">
                <div class="progress" data-action="click->progress#update">
                  <span class="hidded" data-target="progress.value"></span>
                </div>
              </div>
            </div>
          <div class="quiz-area" id="quiz" data-controller="quiz">
          
            <%= render :partial => @questions %>

          <% else %>

          <div class="message">
            <h1>No Quizzes for this topic yet</h1>
          </div>

          <% end %>

        </div>

        </div>
      </div>

    </div>
</section>