<% breadcrumb :quiz, @quiz %>

<section class="section">
    <div class="main container">
      <div class="page content gapped">

        <div class="post-header">
          <div class="heading">
            <h1><%= @quiz.title %></h1>
          </div>
        </div>

          <% if @questions.any? %>

            <div class="timer-area">
              <div class="progressbar">
                <div class="progress" id="progress">
                  <span class="hidden" id="duration"><%= @quiz.duration %></span>
                </div>
              </div>
            </div>

          <div class="quiz-area" id="quiz" data-controller="quiz" data-quiz-index="0">

            <%= render :partial => @questions %>

          <% else %>

          <div class="message">
            <h1>No Quizzes for this topic yet</h1>
          </div>

          <% end %>

        </div>

        </div>
      </div>

    </div>
</section>