<section class="section">
    <div class="main container">
      <div class="page content">

        <div class="post-header">
          <div class="heading">
            <h1><%= @quiz.title %> Test</h1>
          </div>
        </div>

        <div class="quiz-area">

          <% if @quiz.questions.any? %>

            <div class="timer-area">
              <div id="progressbar">
                <div id="progress"></div>
              </div>
            </div>
            
            <%= render :partial => @quiz.questions %>
          <% else %>

          <div class="message">
            <h1>No Quizzes for this topic yet</h1>
          </div>

          <% end %>

        </div>

        </div>
      </div>

    </div>
</section>