<% if current_user -%>

  <div class="landing">

    <div class="centered-message">

      <h1>Landing logged in</h1>
      <p>Dashboard about recent quizzes</p>
    </div>
  </div>

<% else %>

  <%= render 'landing/components/hero' %>
  <%= render 'landing/components/card' %>
  <%= render 'landing/components/testimonials' %>

<% end %>
