 <div class="content">

    <div class="inner-section">
        <div class="post-header">
          <div class="heading">
            <h1>About Us</h1>
          </div>
        </div>

          <div class="post-content">

            <h2>Learner to Driver</h2>

            <p>learnertodriver.co.za is a free site which aims to help you pass your Learners Licence test and make you a safer driver. While we do provide revision material, the main purpose of our site is to provide practice questions via our online testing system. We realised that most, if not all of the Learner's info can be found in K53 Learners books, but that people would not necessarily have an easy way to test themselves, and thus our testing system was born.</p>

          </div>

          <div class="post-content">
            <h3>Our Revision Material:</h3>
            <ul>
              <li>Rules of the Road</li>
              <li>Road Signs and Markings</li>
              <li>Vehicle Controls</li>
            </ul>
          </div>

          <div class="post-content">
            <h3>Our Testing Material:</h3>
            <ul>
              <li>K53 Mock Test</li>
              <li>Quickfire Road Sign Test</li>
            </ul>
          </div>

          <div class="credit-content">
            <div class="logo">
<!--               <img src="/typographics-logo.png" alt="TypoGraphics Logo">
 -->            </div>
            <div class="credit-info">
              <p>Typographics is the company behind learnertodriver</p>

              <P>Typographics's portfolio of websites include educational and cognitive enhancement resources which are available for free (where possible) or at genuinely low prices.</p>
            </div>
          </div>
    </div>

  </div>