<div id="content" class="inner">

  <div class="flex gapped">
    <article class="flex spaced-between column content post">

      <div class="post-header">
        <h1 class="text-center post-title" itemprop="name headline">
          <%= @post.title %>
        </h1>
      </div>

      <div class="post-container" itemprop="articleBody">
        <div class="post-content">
          <%= render 'form' %>
        </div>
      </div>

      <div class="meta">
        <%= link_to 'Show', @post %> | <%= link_to 'Back', posts_path %>
      </div>

  </article>
  </div>

</div>