/*---------------------------
       Common SCSS
-----------------------------*/

body {
  font-family: $base-font-family;
  font-size: 18px;
  font-weight: 400;
  height: 100%;
  text-rendering: optimizeLegibility;
}

html {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  &.debug * {
    background: rgba(255, 0, 0, .1);
    box-shadow: 0 0 0 1px $border;
  }
}

*,
::before,
::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3 {
  display: block;
  margin-bottom: 0.67em;
  margin-left: 0;
  margin-right: 0;
  margin-top: 0.2em;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4em;
}

h3 {
  color: $black;
  font-size: 1.2rem;
}

table {
  table-layout: auto;
}

footer {
  display: flex;
  justify-content: space-between;
  margin: auto 0 0;
  padding: 10px;
  width: 100%;
}

.footer {
  padding: 1.2rem;

  p {
    margin: 0;
  }
}

.container {
  margin: auto;
  padding: 30px 0;
}

.message-container {
  background: shade($blue, 30%);
  border-radius: 20px;
  margin: 10px auto;
  min-height: 100px;
  padding: 25px;
  width: 80%;
}

.header-menu,
.icon-menu {
  display: flex;
  justify-content: space-around;
  padding: 10px;
  text-align: center;
  width: 100%;
}

.header-menu {
  .button {
    text-align: center;
    text-decoration: none;
  }
}

.button {
  appearance: none;
  background-color: $base-color;
  border: 0;
  border-radius: $base-border-radius;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: $base-font-size;
  font-weight: 600;
  line-height: 1;
  padding: $small-spacing $base-spacing;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: shade($base-color, 20%);
    color: $white;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $base-color;
    }
  }
}

.bold {
  font-weight: 600;
}

.irregular {
  width: 98%;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.right {
  float: right;
}

.left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.top-fixed {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1;
}

.bottom-fixed {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.fixed {
  position: fixed;
  
  &.top {
    top: 0;
  }
  &.bottom {
    bottom: 0;
  }
}

.padded {
  padding: .2rem 1.2rem;
}

.hidden {
  display: none;
}

.invisibile {
  opacity: 0;
}

.full-height {
  min-height: 100vh;
}

.full-width {
  width: 100%;
}

.flex {
  display: flex;

  &.row  {
    flex-direction: row;
  }

  &.column {
    flex-direction: column;
  }

  &.start {
    align-items: flex-start;
  }

  &.baseline {
    align-items: baseline;
  }

  &.spaced-between {
    justify-content: space-between;
  }

  &.spaced-around {
    justify-content: space-around;
  }

  &.centered {
    justify-content: center;
  }

  &.center-aligned {
    align-items: center;
  }
}


.capitalized {
  text-transform: capitalize;
}

.upcase {
  text-transform: uppercase;
}

.grey-text {
  color: $gray;
}

.white-text {
  color: $white;
}

.light-text {
  color: $cream;
}

.dark-text {
  color: $night;
}

.red-text {
  color: $ruby;
}

.center {
  margin: auto;
  text-align: center;
}

.large {
  font-size: 1.25em;
}

.medium {
  font-size: 1em;
}

.small {
  font-size: .75em;
}

.regular {
  border-radius: .5em;
}

.square {
  border-radius: .25em;
}

.circle {
  border-radius: 50%;
}

.round {
  border-radius: 1.25em;
}

.dark {
  background-color: $ocean;
}

.night {
  background-color: $night
}

.light {
  background-color: $slate;
}

.cream {
  background-color: $cream;
}

.yellow {
  background-color: $yellow;
}

.green {
  background-color: $green;
}

.blue {
  background-color: $blue;
}

.purple {
  background-color: $purple;
}

.white {
  background-color: $white;
}

.grey {
  background-color: $grey;
}

.black {
  background-color: $black;
}
