// Primary Nav
.navigation {
  box-shadow: $full-box;
  font-size: larger;
  text-align: center;
  width: 100%;

  ul {
    list-style: none;
    margin: 0;
    padding-left: 0;

    li {
      display: block;
      float: left;
      position: relative;
      text-decoration: none;
      transition-duration: .5s;

      ul {
        display: none;
        left: 0;
        min-width: 5rem;
        opacity: 0;
        position: absolute;
        transition: color .5s ease;
        visibility: hidden;
        z-index: 1;
      }
    }
  }
}

.navlist {
  align-content: center;
  align-items: center;
  flex-flow: row wrap;

  &.spaced-between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  a {
    &:focus {
      outline: none;
    }
  }

  .logo {
    padding: .4rem;

    svg {
      height: 50px;
    }
  }
}

.sidebar-container {
  .nav-item {
    padding: 1.2rem 1.2rem 1.2rem 2.8rem;
  }
}

.nav-item {
  color: $grey;
  display: inline-block;
  font-weight: 600;
  height: inherit;
  line-height: inherit;
  padding: .8rem 1.2rem;
  text-transform: uppercase;
  transition: color 150ms ease;

  &:hover {
    background: $base;
    color: $white;
  }

  &.active {
    background: $night;
    color: $white;
  }

  &:focus {
    outline: 1px solid $dodgerblue;
  }
}

.left-border {
  border-left: 2px solid $ash;

  &:hover {
    border-left: 2px solid $sky;
  }

  &.active {
    border-left: 2px solid $bright;
  }
}

.bottom-border {
  border-bottom: 2px solid $ash;

  & a:hover {
    border-bottom: 2px solid $sky;
  }

  &.active {
    border-bottom: 2px solid $bright;
  }
}

.reg-logo {
  margin: auto;
  padding: 0  0 1.5rem 0;
  width: 100px;

  .logo {
    width: 100px;
  }

  svg {
    width: 100px;
    height: 100px;
  }
}

// Secondary nav

.secondary-nav {
  background: $white;
  border-bottom: 2px solid $clean;
  box-shadow: $block-shadow;
  padding: .2rem;
}

.outline {
  border: 1px solid;
  border-radius: 4px;
  padding: .4rem .8rem;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background: $sky;
    color: $white;
  }
}

.noline {
  border: 1px $gray;
  border-radius: 4px;
  padding: .4rem .8rem;
  transition-property: background-color, color;
  transition-duration: .2s;
  transition-timing-function: ease-in-out;

  &:hover {
    background: $gainsboro;
    color: $button-dark;
  }
}

.header-links {
  margin: 0 1.2rem;
  padding: 16px;
}

.nav-logo {
  width: 140px;
  padding: 0 .2rem;
}

.icon {
  margin: 2px 5px;

  &.insta svg {
    fill: $insta;
    width: 25px;
    height: 25px;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }

  &.twitter svg {
    fill: $tweet;
    width: 25px;
    height: 25px;

    &:hover {
      border-bottom: 2px solid $white;
    }
  }

  &.light-fill svg {
      fill: $white;
    }

  &.dark-fill svg {
      fill: $border;
    }

  &.blue-fill svg {
      fill: $blue;
    }

  &.ocean-fill svg {
      fill: $ocean;
    }

  svg {
    width: 15px;
    height: 15px;
  }
}

.search-icon {

  svg {
    position: absolute;
    top: .6em;
    left: .4em;
  }
}

.search-wrapper {
  margin: .5rem;
  position: relative;

  .search-input {
    padding: .4em .2em .2em 1.5em;
    font-size: 18px;
  }
}

.breadcrumbs-container {
  margin: auto 1.1rem;
}

.breadcrumbs {
  // font-size: 14px;
  list-style: none;
  // padding: 16px 0;
  // margin: 0 1.2rem;
  text-transform: lowercase;

  li {
    display: inline;
    font-size: 18px;

    &+li {
      &::before {
        color: $black;
        content: "/\00a0";
        padding: 8px;
      }
    }
  }

  a {
    color: $brand-blue;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      color: $sky;
      text-decoration: underline;
    }
  }
}
