body {
  // -webkit-touch-callout: none; // change for pwa mode only
  // -webkit-user-select: none; // change for pwa mode only
  // -webkit-tap-highlight-color: transparent;
}

.pwa {
  min-height: 100vh;

  .top-nav {
    box-shadow: $full-box;
    top: -60px;
    padding-top: 60px;
    z-index: 10;
  }

  .wrapper {
    padding: 80px 0 90px 0;
    min-height: stretch;

    .flex {
      .block {
        margin: 1.2rem;
      }
    }

    h1,h2,h3,h4 {
      text-transform: capitalize;
    }
    p {
      text-transform: initial;
    }
  }
}

.bottom-nav {
  border-top: 1px solid $gainsboro;
  position: fixed;
  bottom: 0;
  min-width: 350px;

  .icon {
    flex-grow: 1;
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    cursor: pointer;
    border-top: 4px solid $white;

    &.active {
      border-top: 4px solid $brand-blue;
      background: $cream;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
