body {
  -webkit-touch-callout: none; // change for pwa mode only
  -webkit-user-select: none; // change for pwa mode only
  -webkit-tap-highlight-color: transparent; // change for pwa mode only
}

.pwa {
  min-height: 100vh;

  .navigation {
    top: -60px;
    padding-top: 60px;
    z-index: 99; // forcing top -- change later
  }

  .wrapper {
    padding: 80px 0 90px 0;
    min-height: fill-available;
  }
}

.bottom-nav {
  border-top: 1px solid $gainsboro;
  position: fixed;
  bottom: 0;

  .icon {
    flex-grow: 1;
    display: flex;
    margin: auto;
    align-content: center;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
    cursor: pointer;
    border-top: 4px solid $white;

    &.active {
      border-top: 4px solid $brand-blue;
      background: #f5f5f5;
    }

    svg {
      width: 30px;
      height: 30px;
      margin-bottom: 10px;
    }
  }
}
