.progressbar {
  width: 98%;
  height: 17px;
  background-color: #ddd;
  margin: .6em 0;
  border: 1px double #bbb;
  border-radius: 5px;
  box-shadow: 0 1px 5px #bbb inset, 0 1px 0 #dcdcdc;
}

.progress {
  background-image: linear-gradient(to right, #4facfe 0%, #00f2fe 100%);
  border-radius: 5px;
  height: 15px;
  width: 0;
  max-width: 100%;
  float: left;
  width: 50%;
}

.question {
  display: none;

  &.active {
    display: block;
  }

  .controls {
    margin: 2rem 0 0;
  }
}
