.table {
  
  .form {
    thead {

    }

    tbody {

    }

    tr {

      td:nth-child(odd) {
        width:70%;
      }

      td:nth-child(even) {
        width:30%;
      }
    }
  }
}

      td:nth-child(odd) {
        width:60%;
      }

      td:nth-child(even) {
        width:40%;
      }