.table {

  table {
    width: 100%;

    thead {

    }

    tbody {

    tr {
        cursor: pointer;

        td:nth-child(1) {
          width: 70px;
        }
        &:hover {
          background: $grey;
          color: $night;
        }
      }

    .profile_pic {
      height: 50px;
      width: 50px;
      border: 3px solid $white;
      border-radius: 50%;

      img {
        height: 50px;
        width: 50px;
      }
    }

    .profile_link {
      font-weight: bold;
      color: $night;
    }

    }
      td, th {
        border: 1px solid $clean;
        padding: 8px;
        text-align: left;
        text-transform: initial;
        vertical-align: middle;
      }

      tr:nth-child(even) {
        background-color: $clean;
      }

  }
}

@media screen and (max-width: 650px) {
  th:nth-child(3) {
    display: none;
  }
  th:nth-child(4) {
    display: none;
  }

  td:nth-child(3) {
    display: none;
  }
  td:nth-child(4) {
    display: none;
  }
}